{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        {% comment %} <p>
            <a href="{% url 'create_category' %}">Create a new category</a>
        </p> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receiptlist %}
                    <tr>
                        <td>{{ item.vendor }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.date|date:"m-d-Y" }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
